.starry-sky {
  height: 200vh;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 2s linear infinite;
  animation-delay: calc(2s * var(--delay));
  transform: translateX(-50%);
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
